:root {
  /* color-scheme: light dark; */
  /**/
  /* --light-bg: #eeeeee; */
  /* --light-color: #333333; */
  /* --light-code: gold; */
  /* --light-hover: gold; */
  /**/
  /* --dark-bg: #333333; */
  /* --dark-color: #eeeeee; */
  /* --dark-code: gold; */
  /* --dark-hover: gold; */
}

* {
  /* background-color: light-dark(light-bg, dark-bg); */
  /* color: light-dark(light-color, dark-color); */
}

body {
  width: 400px;
  height: 200px;
}

#streaks {
  width: 100%;
  display: flex;
  flex-direction: col;
  justify-content: space-evenly;
}

.streak {
  display: flex;
  flex-direction: col;
  justify-content: space-evenly;
}

#dayInputs {
  display: grid;
}

#dayInputs>:nth-child(odd) {
  grid-column: 1;
}

#dayInputs>:nth-child(even) {
  grid-column: 2;
}

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

img {
  height: 1rem;
  width: 1rem;
}

button:hover {
  cursor: pointer;
}
